<!-- JQuery CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>

<!-- Bootstrap CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha512-8qmis31OQi6hIRgvkht0s6mCOittjMa9GMqtK9hes5iEQBQE/Ca6yGE5FsW36vyipGoWQswBj/QBm2JR086Rkw==" crossorigin="anonymous"></script>


<h1>The Actual Form!</h1>

<p>
Hello {{username}}
</p>
<p>
<a href="/logout">Logout</a>
</p>

  <h2>CVE Request</h2>

<div class="container">
  <form action="/cveform/formsubmit" name="requestCVE" method="post">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="vendorName">Vendor Name</label>
        <input type="text" class="form-control" name="vendorName" id="vendorName" placeholder="Vendor"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="productName">Product Name</label>
        <input type="text" class="form-control" name="productName" id="productName" placeholder="Product"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="productVersion">Affected Version(s)</label>
        <input type="text" class="form-control" name="productVersion" id="productVersion" placeholder="Version"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="vulnType">Vulnerability Type</label>
        <input type="text" class="form-control" name="vulnType" id="vulnType" placeholder="Vulnerability Type"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="affectedComponent">Affected Component</label>
        <input type="text" class="form-control" name="affectedComponent" id="affectedComponent" placeholder="Affected Component"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="attackVector">Attack Vector</label>
        <input type="text" class="form-control" name="attackVector" id="attackVector" placeholder="Attack Vector"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="impact">Impact of Exploitation</label>
        <select class="form-control" id="impact" name="impact">
          <option>DoS</option>
          <option>Impact 2</option>
          <option>Impact 5</option>
          <option>Impact 1298</option>
          <option>Unknown</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="credit">Discoverer/Credit</label>
        <input type="text" class="form-control" name="credit" id="credit" placeholder="Credit"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="references">References</label>
        <input type="text" class="form-control" name="references" id="references" placeholder="References"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea class="form-control" id="notes" name="notes" placeholder="Additional notes ..."></textarea>
      </div>
    </div>
  </div>

    <button class="btn btn-primary" type="submit">Get a CVE ID</button>
</div>

  </form>
</div>

<script>
// Wait for the DOM to be ready
$(function() {
  $("form[name='requestCVE']").validate({
    rules: {
      vendorName: "required",
      productName: "required",
      productVersion: "required",
    },
    messages: {
      vendorName: "Please enter a vendor name",
      productName: "Please enter a product name",
      productVersion: "Please enter a product version",
    },
    // Make sure the form is submitted to the destination defined
    // in the "action" attribute of the form when valid
    submitHandler: function(form) {
      form.submit();
    }
  });
});

</script>
