<h1>{{title}}</h1>

{{#if username}}
<p>
Hello {{username}}
</p>
<p>
Go to the <a href="/dwfform">DWF Form</a> to request an ID
</p>
<p>
As you can no doubt tell, we are very bad designers. DWF is a community, we would love your <a href="https://github.com/distributedweaknessfiling/dwf-request">help</a>.
</p>
<p>
<a href="/logout">Logout</a>
</p>
{{else}}
<p>
This is the DWF ID Request form. This form should be used to request a DWF ID for a security vulnerability. For more information please see the DWF <a href="https://github.com/distributedweaknessfiling/DWF-workflow">GitHub</a>.
</p>
<p>
We are not approved of by, or affiliated with MITRE, we're a community project. We would love it if you joined us!
</p>
<p>
DWF uses GitHub as our source of identity. You have to log in with a GitHub account if you want to request an ID. Please see our <a href="https://github.com/distributedweaknessfiling/DWF-workflow/blob/main/FAQ.md#i-dont-have-a-github-account">FAQ</a> for more details.
</p>
<p>
As you can no doubt tell, we are very bad designers. DWF is a community, we would love your help. For all feature requests, pull requests, bug reports, and any other ideas about this site, plese use the <a href="https://github.com/distributedweaknessfiling/dwf-request">dwf-request</a> GitHub repo.
</p>
<a id="github-button" class="btn btn-dark" href="https://github.com/login/oauth/authorize?client_id={{client_id}}">
  <img class="fa" src="gh.png"></img> Sign in with GitHub
</a>
{{/if}}
