<h1>{{title}}</h1>

{{#if username}}
<p>
Hello {{username}}
</p>
<p>
Go to the <a href="/cveform">CVE Form</a> to request an ID
</p>
<p>
<a href="/logout">Logout</a>
</p>
{{else}}
<a id="github-button" class="btn btn-dark" href="https://github.com/login/oauth/authorize?client_id={{client_id}}">
  <img class="fa" src="gh.png"></img> Sign in with GitHub
</a>
{{/if}}
